  <footer class="footer">
    <a href="@twitter" class="twitter">@twitter</a> &bull; <a href="@github" class="github">@github</a>
  </footer>
  <script src="/scripts/main.min.js"></script>
</body>
</html>