<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
    <title>@expalmer - the javascrpit enthusiast</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/index.css">
    <link href="/favico.ico" rel="icon">
  </head>
  <body>
    <header class="header" role="banner">
      <h1 class="header__h1">
        <a href="/" class="expalmer" title="@expalmer">@expalmer</a>
      </h1>
      <p class="header__p georgia">The Javascript Enthusiast</p>
    </header>